
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="/image/logo.jpeg" type="image/x-icon">
    <script src="https://kit.fontawesome.com/b06a377e67.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/indexrespon.css">
</head>
<style>

</style>
<body>
    <div id="signup2">
        <div class="signup">
            <div id="signupmain">
                <div id="signupchild" style="margin-left: 15%;">
                    <br><br>
                    <h1>instacorn</h1>
                    <buttob class="btn1"><i class="fa-brands fa-square-facebook"></i>페이스북으로 로그인</buttob>
                    <div class="or">OR</div>
                    <form class="mt-3" action="insjoin.do" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <!--input의 name 속성은 view에서 정의한 것과 일치하도록-->
                        <div class="form-group">
                            <input type="email" class="form-control" id="m_email" name="m_email" placeholder="이메일 주소">
                            <!-- <button type="button" class="btn btn-secondary" id="btn-send-email" onclick="sendEmail()">이메일 인증하기</button> -->
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="m_name" name="m_name" placeholder="성명">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="m_id" name="m_id" placeholder="사용자 아이디">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="m_pwd" name="m_pwd" placeholder="비밀번호">
                        </div>
                        {% if messages %}
                            <div >
                                {% for message in messages %}
                                    {{ message.message }}
                                {% endfor %}
                            </div>
                        {% endif %}
                        <button class="signupbtn" type="submit" >가입하기</button>
                    </form>
                    <div id="p2" style="margin-top: 40px;">
                        <p>People who use our service may have uploaded your contact information to Instagram. <a
                                  href="https://www.facebook.com/help/instagram/261704639352628">Learn More</a>
                        </p>
                   </div>
                   <div id="p3">
                        <p> By signing up, you agree to our Terms , .<a
                                  href="https://help.instagram.com/1896641480634370/">Privacy Policy and Cookies
                                  Policy</a></p>
                   </div>
                    <div id="signupchild3" style="margin-top: 30px;">
                        계정이 있으신가요? <a href="/">로그인</a>
                    </div>
                    <div id="signupchild4">
                        <div class="signupchild4">
                            <img src="/image/c5Rp7Ym-Klz.png" alt="">
                            <img src="/image/EHY6QnZYdNX.png" alt="">
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        
        <div id="foot2">
            <p>© 2024 Instacorn</p>
        </div>
    </div>
    


</body>
<!-- <script src="static/jsfiles/index.js"></script> -->
</html>

<!-- <script>
    function sendEmail() {
        alert('이메일 인증을 보냈습니다.');
    }
</script> -->
